altair==5.2.0
appdirs==1.4.4
atomicwrites==1.4.0
backports.weakref==1.0.post1
blinker==1.7.0
brotlipy==0.7.0
cachetools==5.3.2
category-encoders==2.6.3
clyent==1.2.2
conda-repo-cli==1.0.75
conda-verify==3.4.2
constantly==15.1.0
cssselect==1.1.0
datashape==0.5.4
ds-functions-pkg==0.3.0
et-xmlfile==1.1.0
fonttools==4.25.0
gitdb==4.0.11
GitPython==3.1.41
inflection==0.5.1
jsonpointer==2.1
munkres==1.1.4
openpyxl==3.0.10
patsy==0.5.3
pep8==1.7.1
ply==3.11
protobuf==4.25.2
pyarrow==11.0.0
pyasn1-modules==0.2.8
pydeck==0.8.1b0
PyDispatcher==2.0.5
pyls-spyder==0.4.0
PyQt5-sip==12.11.0
python-lsp-jsonrpc==1.0.0
queuelib==1.5.0
rich==13.7.0
smmap==5.0.1
streamlit==1.30.0
tzlocal==5.2
validators==0.22.0
webencodings==0.5.1
xgboost==2.0.3
